* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow:hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: "Courier New", sans-serif;

    background-image: repeating-linear-gradient(135deg, white, white 52px, AntiqueWhite 52px, AntiqueWhite 60px);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
    filter: drop-shadow(4px 4px 8px BurlyWood);


}
header, footer {
    font-size: 3em;
    color: BurlyWood;
    font-weight: bold;

    padding: 0 15px;
    background-color: white;
    border: 8px solid BurlyWood;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}
.receipt-holder {
    position: relative;
    width: 335px;
}
.receipt {
    padding: 10px;
    background: #fdfdfb;
    width: 335px;
    color: DimGrey;
    position: absolute;
}


footer {
    font-size: 1.5em;
    padding: 5px 15px;
    filter: drop-shadow(4px 4px 8px BurlyWood);
}


.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: AntiqueWhite;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid BurlyWood;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 390px;
    height: 90px;
    padding: 0 10px;

    font-size: 2.4em;

    background: grey;
    margin-bottom: 35px;
    color: white;
    border: 9px solid DimGrey;
    border-radius: 20px;
}

#buttons {
    display: flex;


}
button {

    font-family: "Courier New", sans-serif;
    font-weight: bold;
    border: 8px solid BurlyWood;
    transition: border 100ms ease-out;
}

button.active,
button:active {
    border-color: #6f5c43;
}

#numberButtons {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    justify-content: center;
    align-content: flex-end;
    gap: 10px;
}

#numberButtons button {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    background: yellow;
    color: red;
    font-size: 2em;
    border-radius: 45px;
}

#numberButtons .operator {
    background: green;
    color: yellow;
}

#operatorButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#operatorButtons button {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    background: blue;
    color: white;
    font-size: 2em;
    border-radius: 45px;
}

