* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Courier New", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: AntiqueWhite;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid BurlyWood;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 390px;
    height: 90px;
    padding: 0 20px;

    font-size: 2.4em;

    background: grey;
    margin-bottom: 35px;
    color: white;
    border: 9px solid DimGrey;
    border-radius: 20px;
}

#buttons {
    display: flex;


}
button {
    border: 8px solid BurlyWood;
    transition: border 250ms ease-out;
}

button.active,
button:active {
    border-color: brown;
}

#numberButtons {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
    justify-content: center;
    align-content: flex-end;
    gap: 10px;
}

#numberButtons button {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    background: yellow;
    color: red;
    font-size: 2em;
    border-radius: 45px;
}

#numberButtons .operator {
    background: green;
    color: yellow;
}

#operatorButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#operatorButtons button {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    background: blue;
    color: white;
    font-size: 2em;
    border-radius: 45px;
}

